<div class="container canvas">
  <div id="createImg">
    <canvas>
    </canvas>
  </div>
  <nav>
    <a href="#" style="background-color: blue"></a>
    <a href="#" style="background-color: yellow"></a>
    <a href="#" style="background-color: green"></a>
    <a href="#" style="background-color: black"></a>
  <div id="buttons">
    <input type="button" id="clear" value="Clean">
  </div>
  </nav>


  <img id="canvasimg" style="position:absolute;top:10%;left:52%;" style="display:none;">
  <input type="button" value="save"class="save" size="30" style="position:absolute;top:55%;left:10%;">
</div>



